body {
  font-family: 'Merriweather', serif;
  background-color: ffffff;
  color: #000000;
}

nav {
  display: flex;
  /* padding-bottom: 100px; */
  flex-direction: row;
  max-height: 7vh;
  justify-content: space-around;
  align-items: center;
  background-color: #113551;
  color: #ffffff;
}

nav ul {
  display: flex;
  text-decoration: none;
  align-items: center;
}

nav li {
  list-style-type: none;
  text-align: center;
}

#search-icon {
  max-height: 4vh;
}

.menu {
  display: flex;
  text-decoration: none;
  flex-direction: row;
}

body {
  margin: 0
}

footer {
  background-color:#113551;;
  width: 100vw;
  height: 10vh;
  border-top: 5px solid #0078c2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  /* text-decoration: none; */
}

footer a:hover {
  color: #0078c2;
}

footer .title{
  padding-right: 10px;
}

footer .info-div {
  padding-left: 10px;
}

footer p {
  font-size: 10px;
}

form {
  display: flex;
  max-width: 80vw;
  height: 50vh;
  padding: 5vh 10vw;  
  font-family: 'Roboto Condensed', sans-serif;
}

.form-div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.form-div label {
  font-size: large;
}

.form-div h1 {
  font-size: x-large;
}

form img {
  width: 40vw;
  object-fit: contain;
}

.red {
  color: red;
}

.blue {
  color: #113551;
}

.row {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-evenly
}

.row a {
  color: #000000;
}

.row a:hover {
  color: #0078c2;
}

.column {
  display: block;
  width: 250px;
  margin: 20px;
}

.column img{
  width: 250px;
  height: auto;
}

form input {
  height: 35px;
}

.small {
  font-size: smaller;
}

.line {
  border-top: #09223b 1px solid;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 4vh;
  margin-bottom: 5vh
}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}