* {
  font-family: 'Merriweather', serif;
  background-color: blue;
  color: #ffffff;
  text-decoration: none;
}

nav {
  display: flex;
  /* padding-bottom: 100px; */
  flex-direction: row;
  max-height: 10vh;
}

nav ul {
  display: flex;
  text-decoration: none;

}

nav li {
  text-decoration: none;
}

.search {
  
}

.title {
  width: 85px
}

.menu {
  display: flex;
  flex-direction: row;
}