body {
  font-family: 'Merriweather', serif;
  background-color: ffffff;
  color: #000000;
}

nav {
  display: flex;
  /* padding-bottom: 100px; */
  flex-direction: row;
  max-height: 7vh;
  justify-content: space-around;
  align-items: center;
  background-color: #113551;
  color: #ffffff;
}

nav ul {
  display: flex;
  text-decoration: none;
  align-items: center;
}

nav li {
  list-style-type: none;
  text-align: center;
}

#search-icon {
  max-height: 4vh;
}

.title {
  /* width: 85px */
}

.menu {
  display: flex;
  text-decoration: none;
  flex-direction: row;
}

body {
  margin: 0
}

footer {
  background-color:#113551;;
  width: 100vw;
  height: 10vh;
  border-top: 5px solid #0078c2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  /* text-decoration: none; */
}

footer a:hover {
  color: blue;
}

footer .title{
  padding-right: 10px;
}

footer .info-div {
  padding-left: 10px;
}

footer p {
  font-size: 10px;
}